---
apiVersion: v1
kind: Secret
metadata:
  name: coredns
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: coredns
  url: https://coredns.github.io/helm
  type: helm
