---
apiVersion: v1
kind: Secret
metadata:
  name: home-kubernetes
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: #{ bootstrap_github_address }#
  #% if bootstrap_github_private_key %#
  sshPrivateKey: |
    #% filter indent(width=4, first=False) %#
    #{ bootstrap_github_private_key }#
    #%- endfilter %#
  #% endif %#
