---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: certificate
  namespace: cert-manager
spec:
  secretName: {{ .Values.secert_name }}
  issuerRef:
    name: letsencrypt-issuer
    kind: ClusterIssuer
  commonName: {{ .Values.domain }}
  dnsNames:
    - {{ .Values.domain }}
    - "*.{{ .Values.domain }}"

