---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: home-kubernetes
  source:
    path: kubernetes/bootstrap/argo
    repoURL: "#{ bootstrap_github_address }#"
    targetRevision: "#{ bootstrap_github_branch|default('main', true) }#"
    helm:
      valueFiles:
        - ../../bootstrap/argo/values.yaml
        - secrets://../../bootstrap/argo/values.sops.yaml
