---
apiVersion: v1
kind: Secret
metadata:
  name: openebs
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: openebs
  url: https://openebs.github.io/openebs
  type: helm
