---
helmDefaults:
  wait: true
  waitForJobs: true
  timeout: 600
  force: true
  reuseValues: true

environments:
  default:
    secrets:
      - values.sops.yaml

repositories:
  - name: coredns
    url: https://coredns.github.io/helm

releases:
  - name: coredns
    namespace: kube-system
    chart: coredns/coredns
    version: 1.30.0
    values:
      - values.yaml.gotmpl
