---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: home-kubernetes
  namespace: argocd
spec:
  destinations:
    - name: "*"
      namespace: "*"
      server: "*"
  sourceRepos:
    - "*"
  clusterResourceWhitelist:
    - group: "*"
      kind: "*"

---
apiVersion: v1
kind: Secret
metadata:
  name: github-deploy-key
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: #{ bootstrap_github_address }#
  #% if bootstrap_github_private_key %#
  sshPrivateKey: |
    #% filter indent(width=4, first=False) %#
    #{ bootstrap_github_private_key }#
    #%- endfilter %#
  #% endif %#

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster
  namespace: argocd
spec:
  project: home-kubernetes
  source:
    repoURL: "#{ bootstrap_github_address }#"
    path: kubernetes/argo
    targetRevision: "#{ bootstrap_github_branch }#"
    directory:
      recurse: true
  destination:
    name: in-cluster
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
  ignoreDifferences:
    - group: argoproj.io
      kind: Application
      jsonPointers:
        - /spec/syncPolicy

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: home-kubernetes
  source:
    path: kubernetes/bootstrap/argo
    repoURL: "#{ bootstrap_github_address }#"
    targetRevision: "#{ bootstrap_github_branch|default('main', true) }#"
    helm:
      valueFiles:
        - kubernetes/bootstrap/argo/values.yaml
        - 'secrets://kubernetes/bootstrap/argo/values.sops.yaml'
