---
apiVersion: v1
kind: Secret
metadata:
  name: bjw-s
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: bjw-s
  url: ghcr.io/bjw-s/helm
  type: helm
  enableOCI: "true"
