apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: tailscale
environment:
  - TS_AUTHKEY=#{ bootstrap_tailsacle.auth_key }#
  - TS_ROUTES=#{ bootstrap_node_network }#
  - TS_EXTRA_ARGS=--auto-update
