---
helmDefaults:
  wait: true
  waitForJobs: true
  timeout: 600
  force: true
  reuseValues: true

repositories:
  - name: postfinance
    url: https://postfinance.github.io/kubelet-csr-approver

releases:
  - name: kubelet-csr-approver
    namespace: kube-system
    chart: postfinance/kubelet-csr-approver
    version: 1.2.1
    values:
      - values.yaml
