api-token: "#{ bootstrap_cloudflare.token }#"
email: "#{ bootstrap_cloudflare.acme.email }#"
domain: "#{ bootstrap_cloudflare.domain }#"
domain_id: "#{ bootstrap_cloudflare.domain.replace('.', '-') }#"
